#Javascript
'.source.js':
  'generic function':
    'prefix': 'function'
    'body': """function $1 ($2) {
      $3 $0
    }"""
  'AJAX':
    'prefix': '$.ajax'
    'body': """
    $.ajax({
      type: 'POST',
      data: { "$1": $2 },
      dataType: 'json',
      url: '<?php echo CController::createURL("$3"); ?>',
      success: function (data) {
        if (data.result == 'success') {
          $4
        }
        else {
          alert('Failed - ' + data.message);
        }
      },
      error: function () {
        alert('Failed to Delete item - unexpected error');
      }
    });
    """
  'Datatable':
    'prefix': 'dataTable()'
    'body': """
      $('#$1').DataTable({
        "order" : [[$2, "desc"]],
      });
    """

#HTML
'.text.html':
  'Table':
    'prefix': '<table>'
    'body': """
    <div class="table-responsive">
      <table id="$1" class="table-striped m-b-none" width="100%" cellspacing="0">
        <thead>
          $3
        </thead>
        <tfoot>
          $4
        </tfoot>
        <tbody>
          $5
        </tbody>
      </table>
    </div>
    """
  'Input':
    'prefix':'<input'
    'body':"""
      <input type="text" class="form-control" id="$1" name="$2" />
    """
  'addon':
    'prefix':'<addon'
    'body':"""
      <span class="input-group-addon">$1</span>
    """
  'input-group':
    'prefix': '<input-group'
    'body':"""
      <label>$1</label>
      <div class="input-group">
        <span class="input-group-addon">$2</span>
        <input type="text" id="$3" name="$4" value="$5" class="form-control" placeholder=""/>
      </div>
    """
  'label':
    'prefix':'<label'
    'body':"""
      <span class="label label-$1">$2</span>
    """
  'button':
    'prefix':'<button'
    'body':"""
      <button class="btn btn-$1">$2</button>
    """
  'col':
    'prefix':'<col'
    'body':"""
      <div class="col-sm-$1">
        $2
      </div>
    """
  'List':
    'prefix': '<ul'
    'body': """
      <ul>
        $1
      </ul>
    """
  'List Item':
    'prefix': '<li'
    'body':"""
      <li>
        $1
      </li>
    """
  'Panel':
    'prefix':'panel'
    'body':"""
      <div class="panel panel-$1">
        <div class="panel-heading">$2</div>
        <div class="panel-body">$3</div>
        <div class="panel-footer">$4</div>
      </div>
    """
# PHP
'.php':
  'foreach':
    'prefix': 'forea'
    'body': """
    foreach ($1 as $2) {
      $3;
    }
    """
